textarea.child#javascript-text-area console.log('hello');
textarea.child#css-text-area .test{color:red}
textarea.child#htmlmixed-text-area <body class="test"></body>
textarea.child#compiled-text-area test