doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="shortcut icon", href="./public/favicon.png",type="image/x-icon")
    link(rel='stylesheet', href='./public/css/reset.css')
    link(rel="stylesheet", href="./public/css/styles.css")
    link(rel="stylesheet", href="./public/css/codemirror.css")
    link(rel="stylesheet", href="./public/css/ayu-dark.css")
    script(src='./public/js/bundle.js')
  body
    header
      div.header-container
        p Header here
    main 
      section.container
        textarea.child#javascript-text-area console.log('hello');
        textarea.child#css-text-area .test{color:red}
        textarea.child#htmlmixed-text-area <body class="test"></body>
        textarea.child#compiled-text-area test