doctype html
html(lang="en")
  head
    include head.pug
  body
    header
      include header.pug 
    main.main-containers
      section.containers.cm-container.hidden
        include cm.pug
      section.containers.login-container.hidden
        include login.pug
      section.containers.lobbys-container.hidden
        include lobbys.pug
      section.containers.lobby-container.hidden
        include lobby.pug