body {
  height: 100vh;
}
.header-container {
  display: flex;
  background-color: aquamarine;
  border: 2px dashed black;
  padding: 2px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.child {
  border: 2px solid black;
  height: 40%;
}
